@model GrupoBioenergia.Utilizador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utilizador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNasc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNasc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactoTele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactoTele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactoMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactoMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curriculum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curriculum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Online.IP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Online.IP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAcesso.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAcesso.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDUtilizador }) |
    @Html.ActionLink("Back to List", "Index")
</p>
